@font-face{
    font-family: "NotoSans";
    src: url("./assets/fonts/static/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face{
    font-family: "NotoSansBold";
    src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700; /* bold */
    font-style: normal;
}

@font-face{
    font-family: "NotoSansMedium";
    src: url("./assets/fonts/static/NotoSans-Medium.ttf") format("truetype");
    font-weight: 500; /* medium */
    font-style: normal;
}

body{
    background: hsl(227, 75%, 14%);
    padding: 20px 150px;
    padding-bottom: 50px; /* En alt kısma 50px boşluk ekle */
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.search-bar{
    width: 100%;
    padding: 10px 0px;
    border-radius: 20px;
    background: hsl(0, 0%, 78%);
    display: flex;
    justify-content: space-between;
    font-family: "NotoSansBold", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.search-bar button{
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 10px;
    font-family: "NotoSansBold", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 12px;
    margin-right: 10px;
    cursor: pointer;
    background: hsl(226, 25%, 17%);
    border: none;
}
.search-bar button:hover{
    transition: ease-in-out 0.5s;
    background: hsl(226, 11%, 37%);
}

.pages{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-family: "NotoSansBold", sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.pages > :first-child{
    margin-right: auto;
}

/* Masaüstü ve tablet için butonları bir arada tutan div */
.filter-buttons {
    display: flex;
    gap: 10px;
}

.pages button{
    font-family: "NotoSansMedium", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 20px;
    font-family: "NotoSansBold", sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    background: hsl(226, 25%, 17%);
    color: white;
    border: 1px solid hsl(0, 0%, 78%);
}
.pages button:hover{
    transition: ease-in-out 0.5s;
    background:  hsl(226, 11%, 37%);
}
.pages button.active-filter {
  background-color: #ff5e5e; /* Kırmızı renk */
  color: #000000; /* Yazı rengini beyaza çevir */
  border: 1px solid #ff5e5e;
  font-weight: 500;
}

.main-content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box {
    background-color: #21212c;
  color: white;
  padding: 20px 20px;
  font-family: "NotoSans", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid #505060;
}

.box-top {
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-left {
    display: flex;
  align-items:center;
  gap: 15px;
}

.box-left img {
  width: 48px;
  height: 48px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-content h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.text-content p {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0b0;
  margin: 0;
}

.box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #505060;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: hsl(3, 77%, 44%);
  color: white;
  transition: background-color 0.5s ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #505060;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff5e5e;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


/* --- Media Queries --- */

/* Ara Geçiş ve Geniş Ekran Tablet (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        padding: 20px 80px; 
    }
    
    .main-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
/* Tablet (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        padding: 20px 40px;
        padding-bottom: 50px;
    }
    
    .main-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .pages button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

/* Mobil (600px ve altı) */
@media (max-width: 600px) {
    body {
        padding: 10px;
        padding-bottom: 50px;
    }
    
    .search-bar {
        font-size: 16px;
        width: 100%;
    }
    
    .pages {
        
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10px;
    }
    .filter-buttons {text-align: center;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Butonları eşit aralıklı yap */
        gap: 10px;
    }
    
    .pages > :first-child {
        margin-left: auto;
        margin-right: auto;
    }
    
    .pages button {
        /* Butonların mobil genişliği için */
        width: auto;
        flex-grow: 1; /* Butonların boşluğu doldurmasını sağlar */
        font-size: 12px;
        text-align: center; /* İçindeki metni ortalar */
    }

    .main-content {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 15px;
    }
}